*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}	
	
body {	
  background-image: url(pattern1.png);
  background-repeat: repeat;	
}	

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3D2496;
	padding-right: 50px;
}

li{
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #000067;
	color: white;
}

#logo{
	float: left;
	padding: 10px 50px;
	color: white;
	font-size: 25px;
}

.menu-icon {
   color: white;
   float: right;
   font-size: 25px;
   padding: 21px 0;
   display: none;
}
	
#first-wrapper {
    min-height: 100%;
}

#content1 {
    float: left;
    padding: 11em 0 0.5em 10%;
}

#content1 h3 {
    font-size: 50px;
    color: #323232;
}

#content1 p {
	font-size: 25px;
	padding-bottom: 10px;
	color: #323232;
}

#content2 {
    width: 90%;
    margin: 50px 50px;
}

btn1 {
	width: 50%;
	height: 40px;
	background-color: #3D2496;
	color: white;
	outline: none;
	border:none;
	border-radius: 60px;
	margin-top: 10px;
	margin-left:140px;
	margin-right: 200px;
	font-weight: bold;
}

.btn1:hover {
   background-color: #000067;   
}

.btn1:active {
  background-color: #000067;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.lower {
	text-align: center;
	margin: auto;
}

.lower h2 {
  margin-bottom: 10px;
}

.lower .Phone {
  margin-bottom: 100px;
}

.app-store img:hover {
  background-color: #323232
}

.app-store img:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.footer {
  background-color: #3D2496;
  color: white;
  height: 120px;
  padding: 30px;
}

.footer-logo {
  font-size: 25px;
  float: left;
  padding: 20px;
}

.footer-list {
  float: right;
}

.footer-list li {
	float: right;
	padding: 20px;
}
